/* 定义h1标题的样式 */
h1 {
font-size: 60px;
    color: #71afe5;
}

/* 定义整个页面主体的样式 */
body {
background-color: #f5f5f5;
    color: #333;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
padding: 10px 10px;
    border: none;
    border-radius: 40px;
    margin-right: -100px;
    background-color: #e6e6e6;
    color: #333;
    font-size: 30px;
    width: 600px;
}

input[type="submit"] {
padding: 1px 22px;
    border: none;
    background-color: #3fc2f8;
    color: #333;
    border-radius: 40px;
    cursor: pointer;
    font-size: 28px;
}

input[type="submit"]:hover {
background-color: #007BFF;
}

#resultLabel {
font-size: 1.2em;
}


/* 定义整个页面主体的样式 */
body {
margin: 0;
        padding: 0;
        min-height: 100vh; /* ensure body takes full viewport height */
        display: flex;
        flex-direction: column;
}


/* 定义显示结果的文本区域的样式 */
#resultTextarea {
width: 620px;
    height: 200px;
    resize: none;
    border-radius: 40px;
    padding: 20px 20px;
}

/* 定义整个页面主体的样式 */
body, html {
overflow: auto; /* 当内容超出容器时出现滚动条 */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* 定义主容器的样式 */
.container#main {
    width: 300px;
    margin: 0 auto; /* 如果你想要容器在水平方向上居中 */
}

.card {
height: 200px;
    width: 600px;
    text-align: center;
    transition: transform .7s .3s;
    transform-style: preserve-3d;
    margin-bottom: 10px; /* 为每张卡片增加一些底部的间距，使它们之间有空隙 */
}

.card-container:hover .card {
transform: rotateY(180deg);
}

.face, .back {
position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.face {
background: linear-gradient(-229deg, #aedcf5, #31ece3);
}

.back {
background: linear-gradient(-229deg, #31ece3, #aedcf5);
    transform: rotateY(180deg);
}

/* 定义主容器的样式 */
/* column: 主轴为垂直，从上到下 */
.container#main {
    flex-direction: column;
    justify-content: center; /* 居中对齐 */
}

/* 定义整个页面主体的样式 */
/* 1. 设置HTML和Body的高度为auto */
html, body {
height: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

/* 输入面板 */
.container#input {
    display: flex;
    justify-content: space-between;
    width: 620px;
}

#calculatorForm {
    display: flex;
    justify-content: space-between;
}

#main {
    display: flex;
    flex-direction: column;  /* 垂直方向上的控件排列 */
    align-items: center;     /* 使所有控件在水平方向上居中对齐 */
}
