/* 本文件是云计算器的一部分。 */

/* 云计算器是自由软件：你可以再分发之和/或依照由自由软件基金会发布的 GNU 通用公共许可证修改之，无论是版本 3 许可证，还是（按你的决定）任何以后版都可以。 */

/* 发布云计算器是希望它能有用，但是并无保障;甚至连可销售和符合某个特定的目的都不保证。请参看 GNU 通用公共许可证，了解详情。 */

/* 你应该随程序获得一份 GNU 通用公共许可证的复本。如果没有，请看 <https://www.gnu.org/licenses/>. */

/* This file is part of WebCalculator. */

/* WebCalculator is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. */

/* WebCalculator is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. */

/* You should have received a copy of the GNU General Public License along with WebCalculator. If not, see <https://www.gnu.org/licenses/>. */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-image: url('/static/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #555;
}

input[type="text"] {
    padding: 0 0;
    border: none;
    border-radius: 40px;
    background-color: #fff;
    color: #555;
    font-size: 25px;
    width: 550px;
    height: 50px;
    text-align: center;
}

.container#cards {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-height: 450px;
    max-width: 800px;
    overflow-y: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

.container#input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 620px;
}

#calculatorForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Card styles */
.card-container {
    margin-top: 20px;
}

.card {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    padding: 20px;
    height: auto;
    width: 600px;
    text-align: left;
    margin: 15px 0;
    font-size: 20px;
    color: #eee;
}

.key {
    font-weight: bold;
}

h1 {
    font-size: 80px;
}

h1 {
    font-size: 64px;
    font-weight: 300;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.special-character {
    color: #fff;
    font-size: 100px;
    vertical-align: -20px;
}

#buttons_left{
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 80px;
    margin-bottom: 20px;
}

#buttons_left button{
    margin: 5px;
    background: none;
    border: none;
    padding: 3px;
    cursor: pointer;
    outline: none;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    height: auto;
    color: #eee;
}

#buttons_left button img{
    display: block;
    width: 60px;
    height: auto;
}

#buttons_right{
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 80px;
    margin-bottom: 20px;
}

#buttons_right button{
    margin: 5px;
    background: none;
    border: none;
    padding: 3px;
    cursor: pointer;
    outline: none;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    height: auto;
    color: #eee;
}

#buttons_right button img{
    display: block;
    width: 60px;
    height: auto;
}

/* 普通状态下的链接样式 */
a {
    color: #fff; /* 设置链接文本颜色为白色 */
    text-decoration: #e1e2e3; /* 移除下划线，如果需要的话 */
}

/* 悬停状态下的链接样式 */
a:hover {
    color: #fff; /* 设置链接文本颜色为红色，可以根据需要修改颜色 */
}

/* 已访问状态下的链接样式 */
a:visited {
    color: #fff; /* 设置已访问链接的文本颜色为绿色，可以根据需要修改颜色 */
}
