body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-image: url('/static/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}



/* 选择框的样式 */
select {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #0056B3; /* 加深的科技蓝边框 */
    color: #0056B3; /* 加深的科技蓝文字颜色 */
    font-size: 20px; /* 加大的字号 */
    width:200px;    
}

/* 选择框悬停效果 */
select:hover {
    background-color: rgba(226, 232, 240, 0.8);
}


/* 调整侧边栏位置和大小 */
.sidebar {
    width: 200px;  /* 调整宽度以适应选择框 */
}


/* Calculator styles */
h1#t {
    font-size: 64px;
    font-weight: 300;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: center;
    width: 100%;
    margin-bottom:10px;
    margin-top: 30px;
}

.special-character {
    color: #fff;
    font-size: 100px;
    vertical-align: -20px;
}

label {
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.container#documentContainer {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    overflow: auto;
    height: 450px;
    width: 800px;
    border-radius: 20px;
    padding: 20px;
}

.container#cards {
    max-height: 600px;
    display:flex;
    flex-direction: column;
    justify-content: center;  /* 水平居中 */
    align-items: center;      /* 垂直居中 */
}

.container#input {
    display:flex;
    justify-content: center;  /* 水平居中 */
    align-items: center;      /* 垂直居中 */
    margin-bottom:20px;
}

#buttons_left{
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 80px;
    margin-bottom: 20px;
}

#buttons_left button{
    margin: 5px;
    background: none;
    border: none;
    padding: 3px;
    cursor: pointer;
    outline: none;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    height: auto;
    color: #eee;
}

#buttons_left button img{
    display: block;
    width: 60px;
    height: auto;
}