/* 本文件是云计算器的一部分。 */

/* 云计算器是自由软件：你可以再分发之和/或依照由自由软件基金会发布的 GNU 通用公共许可证修改之，无论是版本 3 许可证，还是（按你的决定）任何以后版都可以。 */

/* 发布云计算器是希望它能有用，但是并无保障;甚至连可销售和符合某个特定的目的都不保证。请参看 GNU 通用公共许可证，了解详情。 */

/* 你应该随程序获得一份 GNU 通用公共许可证的复本。如果没有，请看 <https://www.gnu.org/licenses/>. */

/* This file is part of WebCalculator. */

/* WebCalculator is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. */

/* WebCalculator is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. */

/* You should have received a copy of the GNU General Public License along with WebCalculator. If not, see <https://www.gnu.org/licenses/>. */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-image: url('/static/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}



/* 选择框的样式 */
select {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #0056B3; /* 加深的科技蓝边框 */
    color: #0056B3; /* 加深的科技蓝文字颜色 */
    font-size: 20px; /* 加大的字号 */
    width:200px;    
}

/* 选择框悬停效果 */
select:hover {
    background-color: rgba(226, 232, 240, 0.8);
}


/* 调整侧边栏位置和大小 */
.sidebar {
    width: 200px;  /* 调整宽度以适应选择框 */
}


/* Calculator styles */
h1#t {
    font-size: 64px;
    font-weight: 300;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: center;
    width: 100%;
    margin-bottom:10px;
    margin-top: 30px;
}

.special-character {
    color: #fff;
    font-size: 100px;
    vertical-align: -20px;
}

label {
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.container#documentContainer {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    overflow: auto;
    height: 450px;
    width: 800px;
    border-radius: 20px;
    padding: 20px;
}

.container#cards {
    max-height: 600px;
    display:flex;
    flex-direction: column;
    justify-content: center;  /* 水平居中 */
    align-items: center;      /* 垂直居中 */
}

.container#input {
    display:flex;
    justify-content: center;  /* 水平居中 */
    align-items: center;      /* 垂直居中 */
    margin-bottom:20px;
}

#buttons_left{
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 80px;
    margin-bottom: 20px;
}

#buttons_left button{
    margin: 5px;
    background: none;
    border: none;
    padding: 3px;
    cursor: pointer;
    outline: none;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    height: auto;
    color: #eee;
}

#buttons_left button img{
    display: block;
    width: 60px;
    height: auto;
}