<!-- 声明文档类型为HTML5 -->
<!DOCTYPE html>

<!-- 开始HTML文档 -->
<html lang="en">
<!-- 头部区域开始，包含页面的元数据 -->
<head>
    <!-- 导入CSS -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
    <!-- 导入图标 -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <!-- 声明字符编码为UTF-8 -->
    <meta charset="utf-8"/>
    <!-- 设置页面的视口属性 -->
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <!-- 页面标题 -->
    <title>云计算器 WebCalculator</title>
    <!-- 设置浏览器兼容性 -->
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
</head>
<!-- 主体区域开始，包含页面的内容 -->
<body>
<div class="container">
            <div class="container">
                <!-- 页面主标题 -->
                <h1><span class="special-character">☁</span>云计算器</h1>
                <!-- 计算器输入表单 -->
                <div class="input-container" id="input">
                    <form id="calculatorForm">
                        <!-- 用户输入的数学表达式 -->
                        <input name="expression" placeholder="输入数学表达式 按下回车开始计算" type="text"/>
                    </form>
                </div>
            </div>
            <!-- 主容器，包含计算器的所有内容 -->
            <div class="container" id="cards"></div>
    </div>
        {#左下方的按钮容器#}
        <div class="container" id="buttons_left">
            <button id="documentationButton">
                <img src="{{ url_for('static', filename='icon/documentation.svg') }}" alt="文档">
            </button>
            <button id="userManualButton">
                <img src="{{ url_for('static', filename='icon/user-manual.svg') }}" alt="用户手册">
            </button>
            <button id="aboutButton">
                <img src="{{ url_for('static', filename='icon/about.svg') }}" alt="关于">
            </button>
            <button id="settingButton">
                <img src="{{ url_for('static', filename='icon/settings.svg') }}" alt="设置">
            </button>
        </div>
        {#右下方的按钮容器#}
        <div class="container" id="buttons_right">
            <button id="clearButton">
                <img src="{{ url_for('static', filename='icon/clear.svg') }}" alt="清除">
            </button>
            <button id="goToTopButton">
                <img src="{{ url_for('static', filename='icon/go-to-top.svg') }}" alt="回到顶部">
            </button>
            <button id="downloadButton">
                <img src="{{ url_for('static', filename='icon/download.svg') }}" alt="下载">
            </button>
        </div>

    <!-- 导入JS -->
    <script src="{{ url_for('static', filename='scripts_calculator.js') }}" defer></script>
</body>
</html>
