<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>云计算器 文档</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_documentation.css') }}">
    <script src="{{ url_for('static', filename='scripts_documentation.js') }}" defer></script>
    <!-- 导入图标 -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>

<body>
    <!-- 页面主标题 -->
    <h1 id="t"><span class="special-character">☁</span>云计算器  文档</h1>
    <div class="container" id="cards">
        <div class="container" id="input">
            <label>文档选择:</label>
            <div class="sidebar">
                <select id="documentSelector"></select>
            </div>
        </div>  
        <div class="container" id="documentContainer"></div>    
    </div>
</body>
</html>
